<div class="toolbar audio-comp">
  <button class="toolbar__item" (click)="onPlayPause()">
      <img [hidden]="isPlaying()" src="assets/svg/play.svg" alt="play" width="20" height="20">
      <img [hidden]="!isPlaying()" src="assets/svg/pause.svg" alt="pause" width="20" height="20">
  </button>
  <button class="toolbar__item" (click)="onPreviousSong()">
    <img src="assets/svg/previous.svg" width="20" height="20">
  </button>
  <button class="toolbar__item" (click)="onNextSong()">
    <img src="assets/svg/next.svg" width="20" height="20">
  </button>
  <img class="toolbar__item volume-icon" src="assets/svg/volume.svg" alt="volume" width="20" height="20"> 
  <slider class="toolbar__item volume-slider" (positionChanged)="setVolume($event)" [updateOnDrag]="true" [startValue]="100"></slider>
  <div class="toolbar__item track-time">{{currentTime}}/{{duration}}</div>
  <slider #seekSlider class="toolbar__item seek-slider" (positionChanged)="setSeekPosition($event)" [updateOnDrag]="false" [startValue]="0"></slider>
</div>
