.audio-comp {
	display: flex;
	align-items: center;
	height: 50px;
	background-color: #393939;
}

.volume-icon {
	margin-right: 2px !important;
}

.volume-slider {
	flex-basis: 100px;
	margin-left: 0px !important;
}

.seek-slider {
	flex-grow: 1;
}

.toolbar__item {
	margin: 0 10px;
}

.track-time {
	font-size: 18px;
}