.audio-comp {
	display: flex;
	align-items: center;
	height: 50px;
	background-color: #393939;
}

.seek-bar {
	height: 8px;
	background: #111;
	border-radius: 15px;
	flex-grow: 1;
	margin: 0 5px;
}

.seek-marker {
	height: 8px;
	border-radius: 15px;
	background-color: #2277ff;
	width: 0;
}

.toolbar__item {
	margin: 0 10px;
}

.track-time {
	font-size: 18px;
}