body {
	background-color: #111;
	color: white;
	font-size: 20px;
	margin: 0;
}

a:link, a:visited, .file-link {
	color: #00BBFF;
	text-decoration: none;
	cursor: pointer;
}

.main-panel {
	height: 100vh;
	display: flex;
    flex-direction: column;
    background: linear-gradient(to top right, #121212, #202020, #121212);
}

.content-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 0;
}

@media screen and (min-width: 48em) {
    .content-panel {
        flex-direction: row;
    }

    .main-list-panel {
        width: 50%;
    }
}

.main-list-panel {
    display: flex;
    flex-direction: column;
    margin: 15px;
    max-width: 1000px;
    background-color: #111;
}

.main-scroll-panel {
    overflow-y: auto;
    min-height: 0;
    padding: 8px;
}

.list-item {
	padding: 0 5px;
    height: 37px;
	border-color: #222222;
    border-bottom: solid 1px #444;
    transition: height 0.2s;
    overflow: hidden;
}

.list-item--zero-height {
    height: 0px;
}

.header-bar {
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-height: 35px;
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.text-field {
    background-color: #bbb;
    border-radius: 20px;
    border: none;
    height: 20px;
    padding: 0 10px;
    outline: none;
}

button {
    background: none;
    border: none;	
    color: #555;
    outline: none;
}

button:hover {
    background-color: #444;
    border-radius: 5px;
}

.button-enabled {
    background-color: #606060 !important;
    border-radius: 5px;
}

.mobile-button {
    display: none;
    font-size: 22px;
}

@media screen and (max-width: 48em) {
    .mobile-button {
        display: inline-block;
    }

    .hide-mobile {
        display: none;
    }
}

.toolbar {
  display: flex;
  align-items: center;
}

.toolbar-text {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toolbar__item {
    margin: 0px 5px;
}

.toolbar__item:last-child {
    margin-right: 0px;
}

.toolbar--push-right {
    margin-left: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(100, 100, 100, 0.5);
}

::-webkit-scrollbar-thumb {
    background: #181818;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}
