body {
	background-color: #222222;
	color: white;
	font-size: 20px;
	margin: 0;
}

a:link, a:visited, .file-link {
	color: #00BBFF;
	text-decoration: none;
	cursor: pointer;
}

.main-panel {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.content-panel {
    flex-grow: 1;
    display: flex;
}

.main-scroll-panel {
    flex-grow: 1;
    flex-basis: 50%;
}

.list-item {
	padding: 5px;
    height: 27px;
	border-color: #222222;
	border-top: solid 1px #777777;
}

h3 {
	margin: 0px 0px 2px 0px;
	padding: 3px 5px;
	background-color: #333333;
}

button {
	background-color: #444444;
	color: white;
	border: 1px solid #888888;
	border-radius: 5px;
}

.mobile-button {
    display: none;
    font-size: 22px;
}

@media screen and (max-width: 80em) {
    .mobile-button {
        display: inline-block;
    }

    .hide-mobile {
        display: none;
    }
}

.toolbar {
  display: flex;
}

.toolbar-text {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toolbar__item {
  margin: 0px 5px;
}
.toolbar__item:last-child {
    margin-right: 0px;
}

.audio-comp {
    margin-bottom: 5px;
    margin-top: 5px;
}

.seek-bar {
	height: 20px;
	background: #4200f7;
	margin: 4px 10px;
	border-radius: 15px;
    flex-grow: 1;
}

.seek-marker{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 255, 196, 0.82);
}

.settings-button-bar {
    padding-top: 10px;
}

.settings-button-bar__button {
    width: 70px;
}

.scrollbar {
    position: relative;
}

.scrollbar__container {
  overflow: hidden;
  overflow-anchor: none;
  position: relative;
  height: 100%;
}

.scrollbar__vertical-bar {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(100, 100, 100, 0.5);;
	width: 10px;
	height: 100%;
    border-radius: 5px;
}

.scrollbar__vertical-marker {
	background-color: #333;
	position: absolute;
	right: 1px;
	width: 8px;
    border-radius: 5px;
}
