.filter-field {
    position: relative;
}

.filter-field .text-field {
    padding-left: 28px;
}

.filter-field__icon {
    position: absolute;
    top: 6px;
    left: 8px;
}

.mode-select {
    background-color: #bbb;
    padding: 2px 5px;
    border-radius: 3px;
}