<div class="header-bar">
    <button (click)="goToPlaylist()" class="mobile-button">P</button>
    <div class="filter-field toolbar__item">
        <img src="assets/svg/search.svg" class="filter-field__icon" width="16" height="16">
        <input class="text-field" type="text" [(ngModel)]="filterText" />
    </div>
    <select [(ngModel)]="currentBrowseMode" (change)="onBrowseModeChange()" class="mode-select toolbar__item">
        <option *ngFor="let bmode of browseModes" [ngValue]="bmode">{{bmode}}</option>
    </select>
    <button class="toolbar__item toolbar--push-right" routerLink="/settings" routerLinkActive="active" title="Settings">
        <img src="assets/svg/gear.svg" width="20" height="20" style="position: relative; top: 1px;">
    </button>
</div>
<div #scrollPanel class="main-scroll-panel">
    <div class="list-item toolbar" *ngFor="let treeItem of (treeItems | songFilter: filterText : triggerFilterUpdate)" [ngClass]="{'list-item--zero-height': treeItem.isZeroHeight}">
        <div (click)="onTreeItemClick(treeItem)" class="toolbar-text" [ngClass]="{'file-link': treeItem.isFolder}" [ngStyle]="{'padding-left.px': (treeItem.depth-1)*15}">{{treeItem.fileName}}</div>
        <button class="toolbar__item" (click)="onAddItem(treeItem, true)" title="Play">
            <img src="assets/svg/play.svg" width="20" height="20">
        </button>
        <button class="toolbar__item" (click)="onAddItem(treeItem, false)" title="Add to Playlist">
            <img src="assets/svg/add.svg" width="20" height="20">
        </button>
    </div>
</div>
<div class="loading-panel__mask" *ngIf="isLoading">
    <svg class="loading-panel__spinner">
        <circle cx="40" cy="40" r="36"></circle>
    </svg>
</div>
<div *ngIf="loadingError">{{loadingError}}</div>
