.filter-field {
    position: relative;
    display: flex;
    align-items: center;
}

.filter-field .text-field {
    padding-left: 28px;
}

.filter-field__icon {
    position: absolute;
    top: 5px;
    left: 8px;
}

.mode-select {
    background-color: #bbb;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 10px;
}