<div class="main-panel">
    <audioPlayer (previousSong)="onPreviousSong()" (nextSong)="onNextSong()"></audioPlayer>
    <div style="flex-grow: 1; display: flex;">
    	<scrollbar [enableHorizontalScrollbar]="false" #browserScrollbar class="main-scroll-panel">
			<folder-browser (onAddSongs)="onAddSongs($event)" (onListUpdate)="updateBrowserScrollbar()"></folder-browser>
		</scrollbar>
        <scrollbar [enableHorizontalScrollbar]="false" #playlistScrollbar class="main-scroll-panel">
		    <playlist (onListUpdate)="updatePlaylistScrollbar()"></playlist>
        </scrollbar>
	</div>
</div>
