<div class="main-panel">
    <audioPlayer (previousSong)="onPreviousSong()" (nextSong)="onNextSong()"></audioPlayer>
    <div class="content-panel">
    	<scrollbar [enableHorizontalScrollbar]="false" #browserScrollbar class="main-scroll-panel" [ngClass]="{'hide-mobile': browserHidden}">
			<folder-browser (onAddSongs)="onAddSongs($event)" (onListUpdate)="updateBrowserScrollbar()" (onGoToPlaylist)="showPlaylist()"></folder-browser>
		</scrollbar>
        <scrollbar [enableHorizontalScrollbar]="false" #playlistScrollbar class="main-scroll-panel" [ngClass]="{'hide-mobile': playlistHidden}">
		    <playlist (onListUpdate)="updatePlaylistScrollbar()" (onGoToBrowser)="showBrowser()"></playlist>
        </scrollbar>
	</div>
</div>
